* {
    padding: 0;
    margin: 0;
  }
  
  canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
  }
  
/* Container for centering the game grid */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light background for better contrast */
}

/* The game grid */
/* The game grid (canvas) */
#myCanvas {
    position: relative;
    width: 100%;
    max-width: 600px; /* Reduced max-width */
    height: 300px; /* Adjusted height to match the aspect ratio */
    border: 2px solid #333; /* Darker border for a classic look */
    background-image: url('bg2.webp');
    background-position: center;
    background-color: #fafafa; /* Light grey background */
    margin-top: 50px; /* Margin for some spacing from the top */
    box-sizing: border-box; /* Ensure padding and border are included in width/height */
}